* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P','VT323', monospace;
    background-color: #000;
    color: rgb(81, 255, 0);
    background-image: url('../images/gibson.jpg');
    background-size: cover;
    position:fixed;
    overflow:hidden;
    background-position: center top;
    margin: 0;
    padding: 0;
}

footer {
    position: fixed;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
}

h1 {
    text-align: center;
    text-shadow: 0px 0px 5px #b50ddf;
}

p {
    text-align: center;
    margin: auto;
    width: 450px;
    background-color: rgb(0,0,0,0.75);
    padding: 10px;
    border: 2px solid rgb(81, 255, 0);
    box-shadow: 0px 0px 10px 5px #b50ddf;
}

a:link, a:active, a:visited {
    color: rgb(81, 255, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(186, 255, 154);
}

.tooltip {
    position: absolute;
    width: 200px;
    padding: 10px;
    z-index: 2;
    background-color: rgb(0,0,0,0.75);
    border: 1px solid rgb(186, 255, 154);
}

.main {
    width: 100vw;
    height: 100vh;
}

.letters {
    text-align: center;
    width: 100%;
    margin-top: 100px;
}

.letters li {
    margin: auto;
    font-size: 55px;
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: rgba(0,0,0,0.75);
    border: 1px solid rgb(81, 255, 0);
    color: rgba(81, 255, 0, 0.5);
    display: inline-block;
    margin: 5px;
    padding: 4px;
    vertical-align: baseline;
    line-height: 53px;
    box-shadow: 0px 0px 10px 5px #0dc0df;
}

.letters li.cracked {
    color: rgb(81, 255, 0);
    border: 1px solid rgb(81, 255, 0);
    background-color: rgba(0,0,0,0.75);
}

.terminal {
    list-style-type: none;
    margin: 0px;
    height: 150px;
    overflow: scroll;
    border-top: 5px solid rgb(81, 255, 0);
}

.terminal li {
    line-height: 20px;
}

.terminal li:before {
    content: "\3e";
    font-size: 10px;
    position: relative;
    bottom: 3px;
    margin-right: 10px;
}

#video-placeholder {
    width: 1px;
    height: 1px;
}