* {
    box-sizing: border-box;
}

body {
    font-family: 'VT323', monospace;
    background-color: #000;
    color: rgb(81, 255, 0);
    background-image: url('../images/gibson.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    margin: auto;
    width: 300px;
}

a:link, a:active, a:visited {
    color: rgb(81, 255, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(186, 255, 154);
}

.tooltip {
    position: absolute;
    width: 125px;
    padding: 10px;
    z-index: 2;
    border: 1px solid rgb(186, 255, 154);
}

.main {
    width: 100vw;
    height: 100vh;
}

.main .letters {
    text-align: center;
    width: 100%;
    margin-top: 150px;
}

.letters li {
    margin: auto;
    font-size: 30px;
    padding: 10px;
    width: 40px;
    height: 40px;
    background-color: rgb(81, 255, 0);
    color: rgb(81, 255, 0);
    display: inline-block;
    margin: 5px;
    padding: 4px;
}

.letters li.revealed {
    background-color: #000;
    color: rgb(81, 255, 0);
    border: 1px solid rgb(81, 255, 0);
}

.tried_letters {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.tried_letters li {
    text-align: center;
    font-size: 30px;
    padding: 4px;
    border: 1px solid rgb(81, 255, 0);
    color: rgb(81, 255, 0);
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 5px;
}

.tries_display {
    text-align: right;
    position: fixed;
    bottom: 5px;
    right: 20px;
    color: rgb(81, 255, 0);
}