* {
    box-sizing: border-box;
}

body {
    font-family: 'VT323', monospace;
    background-color: #000;
    color: rgb(81, 255, 0);
    background-image: url('../images/gibson.jpg');
    background-size: cover;
    background-position: center;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
}

h1 {
    text-align: center;
    text-shadow: 0px 0px 8px #b50ddf;
}

p {
    text-align: center;
    margin: auto;
    width: 450px;
    background-color: rgb(0,0,0,0.75);
    padding: 10px;
    border: 1px solid rgb(81, 255, 0);
}

a:link, a:active, a:visited {
    color: rgb(81, 255, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(186, 255, 154);
}

.tooltip {
    position: absolute;
    width: 200px;
    padding: 10px;
    z-index: 2;
    background-color: rgb(0,0,0,0.75);
    border: 1px solid rgb(186, 255, 154);
}

.main {
    width: 100vw;
    height: 100vh;
}

.letters {
    text-align: center;
    width: 100%;
    margin-top: 150px;
}

.letters li {
    margin: auto;
    font-size: 55px;
    width: 55px;
    height: 55px;
    text-align: center;
    background-color: rgb(81, 255, 0);
    color: #000;
    display: inline-block;
    margin: 5px;
    padding: 4px;
    vertical-align: baseline;
    line-height: 45px;
}

.letters li.cracked {
    color: rgb(81, 255, 0);
    border: 1px solid rgb(81, 255, 0);
    background-color: rgba(0,0,0,0.75);
}

.terminal {
    list-style-type: none;
    height: 150px;
    overflow: scroll;
}

.terminal li:before {
    content: "\25b6";
    font-size: 10px;
    position: relative;
    bottom: 3px;
    margin-right: 10px;
}